.hero {
  height: 484px;
  background-image: url("../imgs/heroimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    max-width: 630px;
    padding: 77px 0 0 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__title {
    position: relative;
    max-width: 613px;
    font-family: "Zing Rust Demo Base";
    font-size: 67px;
    font-style: italic;
    font-weight: 400;
    line-height: 73.16px;
    text-align: center;
    color: $title;
    transform: rotate(-8deg);
  }

  &__title::after {
    inset: 2px 0 0 -5px;
    position: absolute;
    content: "ДОСТАВКА ВКУСНЕЙШИХ БЛЮД ЗА 60 МИНУТ";
    -webkit-text-stroke: 1px white;
    color: transparent;
    border: 1px solid;

    border-image-source: linear-gradient(219.01deg,
        #ffffff 22.37%,
        rgba(255, 255, 255, 0) 80.4%);
  }

  &__description {
    background-image: url("../imgs/heroDescription.svg");
    max-width: 244.36px;
    height: 79.5px;
    background-repeat: no-repeat;
    background-size: cover;

    span {
      padding: 21.29px 25.02px 7.74px 33px;
      display: inline-block;
      font-family: "Zing Rust Demo Base";
      font-size: 25px;
      font-style: italic;
      font-weight: 400;
      line-height: 27.3px;
      text-align: center;
      color: $title;
      transform: rotate(-8deg);
    }
  }
}

@media (max-width: 700px) {
  .hero {
    &__content {
      padding-left: 10px;
      gap: 20px;
    }

    &__title {
      max-width: 485px;
      font-size: 54px;
    }
  }
}

@media (max-width: 520px) {
  .hero {
    height: 296px;

    &__title {
      max-width: 70%;
      font-size: 28px;
    }

    &__content {
      gap: 0;
      padding-top: 54px;
    }
  }
}